body {
  height: 100vh;
  margin: 0 25px;
}
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
}
header{
  margin-right: 20px;
  position: fixed;
  top: 0;
  margin-left: 25px;
  bottom: 0;
  border-radius: 25px;
  margin-top: 25px;
  height: 90%;
  left: 0;
  background: #729aff;
  width: 90px;
  overflow: hidden;
  transition: width 0.2s linear;
  box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.1);
}
select{
  border: 2px solid #939393;
  height: 40px;
  width: 100%;
  margin: 0px 0px 15px 0px;
}
#usuarios h2 {
  color: #729aff;
}
#span-valores {
  margin: 0;
  top: 0;
  font-size: 50px;
  display: flex;
  margin-bottom: -20px;
  align-items: center;
}
.infos{
  color: white;
  background-image: linear-gradient(to bottom right, #729aff, #5070ca);
}
.infos, .estoque-parcerias{
  display: flex;
  padding: 11px;
  align-items: center;
  height: 163px;
  border-radius: 15px;
  flex-direction: column;
  width: 100%;
  box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.1);
}
.estoque-parcerias {
  background-color: #f7f7f7;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-top: 15px;
}
.valores {
  font-size: 19px;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.header-usuarios{
  display: flex;
  justify-content: space-between;
}
.header-usuarios button{
  background-image: linear-gradient(to bottom right, #729aff, #5070ca);
  font-weight: bold;
  font-size: 17px;
  color: white;
  padding: 0px 25px;
  border-radius: 15px;
  cursor: pointer;
}
#infos_saldo {
  margin-left: 17px;
}
.senao{
  margin-top: 35px;
  margin-bottom: 100px;
}
.bx-error {
  font-size: 50px;
  color: #939393;;
}
.aviso{
  color: #939393;
  margin-top: 20px;
  font-weight: bold;
}
strong{
  text-decoration: underline solid #729aff;
}
h4 {
  margin-top: -10px;
  color: #202020;
}
.tudo{
  display: flex;
  float: right;
  width: 90%;
  margin-top: 10px;
}
.flex {
  display: flex;
  width: 100%;
}
.icon i{
  font-size: 50px;
  margin-top: -10px;
}
.logos-lace {
  margin-top: 15px;
}
#usuarios {
  background-color: #f7f7f7;
  margin-top: 21px;
  padding: 25px;
  border-radius: 15px;
}
.ult-usuario{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
}
.estoque-parcerias:hover {
  background-color: #e7e7e7e3;
  transition: 0.2s linear;
  cursor: pointer;
}
.pgnadm {
  font-size: 3em;
  font-weight: bold;
}
.pgadmin{
  margin-left: 100px;
}
main{
  padding: 15px;
}
.conteiner {
  display: flex;
  justify-content: center;
}
.iniciopg{
  display: flex;
  margin-right: 15px;
  margin-left: 117px;
  flex-direction: column;
}
#list-livros-view{
  padding: 0px 100px;
  margin-top: 0;
}
.form-input {
  padding: 20px;
  border-radius: 15px;
  margin-right: 15px;
  width: 50%;
  box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.1);
}
.bx-user-pin{
  font-size: 50px;
}
.linha_CE{
  display: flex;
}
.linha_livros {
  display: flex;
  justify-content: center;
}
.link_logo{
  text-align: center;
  display: flex;
  transition: all 0.5s ease;
  margin: 10px 0 0 10px;
  color: #ffffff;
}
.link_logo i {
  width: 45px;
  height: 45px;
}
.link_logo span {
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}
li{
  color: rgb(255, 255, 255);
  font-size: 20px;
  display: table;
  width: 300px;
  padding: 10px;
}
.livraria_link{
  font-size: 45px;
}
li i {
  display: flex;
  align-items: center;
}
i{
  position: relative;
  width: 70px;
  height: 40px;
  top: 5px;
  font-size: 28px;
  text-align: center;
}
#logo{
  font-size: 35px;
}
.info-user{
  width: -webkit-fill-available;
  font-size: 100%
}
span{
  top: 10px;
  margin-left: 10px;
}
.header-pgnadm {
  margin-top: 25px;
  display: flex;
  width: 100%;
}
.logos-nav:hover{
  background: rgb(255, 255, 255);
  color: #000000;
}
header:hover{
  width: 280px;
  transition: all 0.5s ease;
}
.admin{
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}

.info_nome {
  float: left;
}
.info_valor {
  float: right;
}
.info_exvalor {
  float: right;
  padding-right: 10px;
  color: rgba(88, 88, 88, 0.616);
  text-decoration: line-through;
}
.title {
  color: #000000;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.form {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
#edsi {
  width: 30%;
}
.form input{
  width: 60%;
  height: 40px;
  border: none;
  border-bottom: 2px solid rgb(147, 147, 147);
  padding: 0 10px;
  margin: 5px;
}
.form button{
  margin-left: 1px;
  width: 20%;
  height: 40px;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 10px;
  background-color:#729aff;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
}
.form button:hover {
  background-color: #ffffff;
  border: 3px solid #729aff;
  color: #729aff;
  transition: all 0.5s ease;
}
.form-input input {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 2px solid rgb(147, 147, 147);
  padding: 0 10px;
  margin: 5px 0px 22px 0px;
}
.input_center, .center {
  display: flex;
  justify-content: center;
}
#llv {
  width: 100%;
  margin-top: 0;
}
.form-input button {
  margin-left: 1px;
  width: 40%;
  height: 40px;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 10px;
  background-color:#729aff;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
}
.form-input button:hover {
  background-color: #ffffff;
  border: 3px solid #729aff;
  color: #729aff;
  transition: all 0.5s ease;
}
.icons {
  height: 50px;
  margin-right: 10px;
  width: 50px;
}
.list-livros {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.list-livros table {
  margin: 0 auto;
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.1);
}
.canto_ce{
  border-radius: 15px 0 0 0;
}
.canto_cd{
  border-radius: 0 15px 0 0;
}

table tr td {
  background-color: #f7f7f7;
  padding: 10px;
  text-align: center;
}
th {
  background-color: #729aff;
  color: white;
  font-weight: bold;
  padding: 10px;
}
td button{
  margin-left: 5px;
  background-color: #729aff;
  color: white;
  padding: 5px;
  border-radius: 15px;
  width: 50px;
}
td button:hover{
  cursor: pointer;
  background-color: #ffffff;
  border: 2px solid #729aff;
  color: #729aff;
}