body {
  height: 100vh;
}
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
}
nav{
  margin-right: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  background: #fff;
  width: 90px;
  overflow: hidden;
  transition: width 0.2s linear;
  box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.1);
}
.link_logo{
  text-align: center;
  display: flex;
  transition: all 0.5s ease;
  margin: 10px 0 0 10px;
  color: #40AB85;
}
.link_logo i {
  width: 45px;
  height: 45px;
}
.link_logo span {
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}
a{
  color: rgb(85, 83, 83);
  font-size: 22px;
  display: table;
  width: 300px;
  padding: 10px;
}
.livraria_link{
  font-size: 45px;
}
a i {
  display: flex;
  align-items: center;
}
i{
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 28px;
  text-align: center;
}
#logo{
  font-size: 35px;
}
span, input{
  position: relative;
  top: 12px;
  margin-left: 10px;
}
a:hover{
  background: #eee;
  color: #40AB85;
}
nav:hover{
  width: 280px;
  transition: all 0.s ease;
}
.user{
  position: absolute;
  bottom: 0;
}
main{
  margin: 25px;
}
.linha_livros {
  display: flex;
  justify-content: center;
}
.livro {
  display: inline;
  width: 210px;
  height: 275px;
  border: 1px solid #40AB85;
  padding: 20px;
  margin: 20px;
}
.reco_h2 {
  margin-left: 25px;
}
.reco{
  width: max-content;
  margin: 0 auto;
  border: 1px solid #40AB85;
  padding: 30px 5px 5px 5px;
}
.promo {
  margin: 0 auto;
  border: 1px solid #40AB85;
  width: max-content;
  height: 75px;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 5px;
}
.promo_h2 {
  float: left;
  display: block;
  margin-right: 899px;
}
.info_nome {
  float: left;
}
.info_valor {
  float: right;
}
.info_exvalor {
  float: right;
  padding-right: 10px;
  color: rgba(88, 88, 88, 0.616);
  text-decoration: line-through;
}